[submodule "src/thirdparty/gperftools"]
	path = src/thirdparty/gperftools
	url = https://github.com/gperftools/gperftools.git
[submodule "src/thirdparty/cute_headers"]
	path = src/thirdparty/cute_headers
	url = https://github.com/RandyGaul/cute_headers.git
